<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Snake_TaskPerformance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Snake_TaskPerformance.Properties.Settings>
            <setting name="snake_head" serializeAs="String">
                <value>Violet</value>
            </setting>
            <setting name="snake_body" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="point_per_food" serializeAs="String">
                <value>2</value>
            </setting>
        </Snake_TaskPerformance.Properties.Settings>
    </userSettings>
</configuration>